---
import RootLayout from "../layouts/root-layout.astro";
const { frontmatter } = Astro.props;

function menuEntryClass(href: string) {
  return href === Astro.url.pathname ? " active" : "";
}
const menuEntries = {
  redesPerimetrales: [
    {
      title: "Fundamentos de Redes Perimetrales.",
      href: "/redesPerimetrales",
    },
    {
      title: "Tecnologías y Herramientas de Seguridad Perimetral.",
      href: "/redesPerimetrales/technologiesAndTools",
    },
    {
      title: "Extensiones de seguridad perimetral.",
      href: "/redesPerimetrales/extensions",
    },
    {
      title: "Desafios.",
      href: "/redesPerimetrales/challenges",
    },
  ],
  tunneling: [
    {
      title: "Establecimiento de un enlace seguro de red: Tunelización",
      href: "/tunneling",
    },
    {
      title: "VPN",
      href: "/tunneling/vpn",
    },
    {
      title: "SSH",
      href: "/tunneling/ssh",
    },
    {
      title: "Point to Point Tunneling Protocol",
      href: "/tunneling/pptp",
    },
  ],
  iot: [
    {
      title: "Definición del Internet de las cosas",
      href: "/iot",
    },
    {
      title: "Los riesgos de seguridad, como los hacen, y como protegerse",
      href: "/iot/risks",
    },
    {
      title: "IIOT e Industria 4.0",
      href: "/iot/industry",
    },
    {
      title: "Privacidad y Seguridad",
      href: "/iot/privacy",
    },
  ],
};
---

<RootLayout title={frontmatter.title}>
  <div class="navbar mx-auto max-w-screen-xl border-b bg-base-100">
    <div class="navbar-start">
      <a class="btn btn-ghost text-xl" href="/" title="Redes">
        <img class="h-8 w-8" src="/logo.svg" alt="Logo" />
      </a>
    </div>
    <div class="navbar-end">
      <a class="btn btn-primary" href="/">Inicio</a>
    </div>
  </div>

  <main class="pattern">
    <div
      class="mx-auto grid max-w-screen-lg grid-cols-[max-content_1fr] space-x-4 p-2"
    >
      <!-- Start article card -->
      <div class="card card-bordered  border-base-300 bg-base-100">
        
        <div class="card-body">
          <article class="prose">
            <slot />
          </article>
        </div>
      </div>
      <!-- End article card -->


      <!-- Start of sidebar -->
      <div>
        <ul class="menu rounded-box border bg-base-100">

        <details open>
        <summary class="menu-title">Redes Perimetrales.</summary>
          <li>  
            <ul>
              {
                menuEntries.redesPerimetrales.map((entry) => (
                  <li>
                    <a
                      class={"menu-link" + menuEntryClass(entry.href)}
                      href={entry.href}
                    >
                      {entry.title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </li>
          </details>


        <details open>
        <summary class="menu-title">Tunelización</summary>
          <li>
            <ul>
              {
                menuEntries.tunneling.map((entry) => (
                  <li>
                    <a
                      class={"menu-link" + menuEntryClass(entry.href)}
                      href={entry.href}
                    >
                      {entry.title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </li>
          </details>

        <details open>
        <summary class="menu-title">Internet de las Cosas</summary>
          <li>
            <ul>
              {
                menuEntries.iot.map((entry) => (
                  <li>
                    <a
                      class={"menu-link" + menuEntryClass(entry.href)}
                      href={entry.href}
                    >
                      {entry.title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </li>
          </details>

        </ul>
      </div>
      <!-- End of sidebar -->
    </div>
  </main>
</RootLayout>

<style>
  .pattern {
    background: #492972;
    background: -webkit-linear-gradient(0deg, #492972 0%, #ffffff 50%, #a07bb7 100%);
    background: linear-gradient(0deg, #492972 0%, #ffffff 50%, #a07bb7 100%);
  }

  .cover-wavy {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #e5e5f7 10px
      ),
      repeating-linear-gradient(#444cf755, #444cf7);
  }
  
</style>
